$black: #1b1b1b;
$mint: #429e9d;
$mobile-width: 768px;
$desktop-width: 1440px;

@font-face {
  font-family: 'Dosis Medium';
  src: url('../fonts/Dosis-Medium.ttf');
}
@font-face {
  font-family: 'Dosis SemiBold';
  src: url('../fonts/Dosis-SemiBold.ttf');
}
@font-face {
  font-family: 'Dosis Bold';
  src: url('../fonts/Dosis-Bold.ttf');
}
@font-face {
  font-family: 'Soosick';
  src: url('../fonts/soooooooosick.ttf');
}

@mixin flex(
  $direction: row,
  $flex-wrap: nowrap,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  font-family: 'Dosis Medium', sans-serif;
  color: $black;
  margin: 0;
  @include desktop {
    border: 20px solid $black;
  }
}

h1 {
  background-image: linear-gradient(to right, $mint 50%, $mint 50%);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 200% 15px;
  font-family: 'Soosick', sans-serif;
  text-transform: uppercase;
  align-content: flex-start;
  display: inline-block;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis Bold', sans-serif;
}

a {
  color: $black;
  font-family: 'Dosis SemiBold', sans-serif;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $mint;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
